/* ######################### */
/* 1. header-container Bar */
/* ######################### */

.header {
  background-color: #940c00;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 116rem;
  height: 9.6rem;

  position: relative;
  margin: 0 auto;

  box-shadow: 0 1.2rem 3.2rem rgba(51, 51, 51, 0.13);
}

/* ######################### */
/* 1.1 Right Bar */
/* ######################### */

.header-container > a:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 100%;
  height: 140%;
  max-width: 16rem;

  margin: auto 5rem auto 0rem;

  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 1.2rem 3.2rem rgba(51, 51, 51, 0.13);
  background-color: white;
}

.header-container .logo {
  height: 9rem;
  width: 15.7rem;
}

/* ######################### */
/* 1.2 Right Bar */
/* ######################### */

.main-nav {
  height: 100%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.list-item {
  height: 100%;
  border-right: 1px solid rgb(119 10 0);
  transition: all 0.3s;
}

.main-nav-list .list-item:nth-last-child(2) {
  border-right: none; /* Son öğenin sağ sınırını kaldır */
}

.nav-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  color: #fff;
}

.list-item:hover {
  background-color: rgba(51, 51, 51, 0.13);
}

.main-nav-link:link,
.main-nav-link:visited {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;

  height: 100%;
  padding: 3.5rem 3rem 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.main-nav-btn:link,
.main-nav-btn:visited {
  display: inline-block;
  transition: all 0.3s;

  color: #241e20;
  background-color: #fec52e;

  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2rem;

  margin-left: 2.4rem;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
}

.main-nav-btn:hover,
.main-nav-btn:active {
  box-shadow: 0 0 2rem 0.5rem rgba(255, 187, 0, 0.2);
}

.main-nav-btn::selection,
.main-nav-btn:active {
  color: #fff;
}

/* ######################### */
/* SECTION PAGE "SECTION AND HERO" */
/* ######################### */

.section-hero {
  margin-top: 10rem;
}

.hero {
  max-width: 116rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

/* ######################### */
/* SECTION PAGE "LEFT BAR" */
/* ######################### */

.leftBar {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 57rem;
  height: 44.2rem;
}

.slider {
  width: 57rem;
  height: 44.2rem;
  overflow: hidden;
  display: flex;
}

.slide {
  display: flex;
  transition: left 2s; /* Geçiş efektini sağlamak için transition belirtildi */
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  width: 57rem;
  height: 44.2rem;
}

.prevBtn,
.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 5%;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: none;

  background-color: rgb(179, 179, 179);
  box-shadow: 0 0.1rem 0.5rem 0.5rem rgba(255, 255, 255, 0.15);
  opacity: 0.9;
}

.nextBtn {
  left: 5rem;
}

.prevBtn {
  right: 5rem;
}

.nextBtn:hover,
.nextBtn:active,
.prevBtn:hover,
.prevBtn:active {
  color: #fff;
  box-shadow: 0 0.2rem 1.2rem 3.2rem rgba(51, 51, 51, 0.5);
}

/* ######################### */
/* SECTION PAGE "RIGHT BAR" */
/* ######################### */

.rightBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57rem;
  height: 44.2rem;
}

.rightBar img {
  width: 57rem;
  height: 44.2rem;
}

/* ######################### */
/* SECTION PAGE "IMG BAR" */
/* ######################### */

.imgBar {
  margin: 5rem auto;
  width: 116rem;
  height: 44.2rem;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: start;
  align-items: center;

  background: linear-gradient(
      to right,
      rgba(61, 28, 28, 0.514),
      rgba(80, 31, 31, 0.514),
      rgba(43, 18, 18, 0.514)
    ),
    url("/img/harita.jpg") center center no-repeat;
  background-size: cover;
}

.midDIV {
  padding: 8rem;
}

/* .innerDIV {
  width: 100%;
  padding: 10rem;
  height: auto;
} */

.sube_ara {
  color: white;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
  box-shadow: 0 1.2rem 3.2rem rgba(51, 51, 51, 0.13);
}

.enyakin_sube {
  color: white;
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 3rem;
  box-shadow: 0 1.2rem 3.2rem rgba(51, 51, 51, 0.13);
}

.search_div {
  height: 5rem;
  background-color: white;
  border-radius: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1.2rem 3.2rem rgba(51, 51, 51, 0.13);
}

.search_div p {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.search_div a {
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 15px;
  background: #46a14a;
  color: #fff;
  border: 0;
  position: relative;
  padding: 0;
  width: 100px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

/* ######################### */
/* SECTION PAGE "Small Info Bar" */
/* ######################### */

.infoBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3.6rem;

  align-items: start;
  justify-content: space-around;

  width: 116rem;
  margin: 4rem auto;
}

.smallInfoBar {
  width: 100%;
  height: 28rem;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.smallInfoBar p {
  font-size: 3.3rem;
  font-weight: 700;
  padding: 2rem;
  color: white;
}

.smallInfoBar:nth-child(1) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ),
    url("/img/info-bar/helalsertifikasi.jpg") center center no-repeat;
  background-size: cover;
}

.smallInfoBar:nth-child(2) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ),
    url("/img/info-bar/hakkimizda.jpg") center center no-repeat;
  background-size: cover;
}

.smallInfoBar:nth-child(3) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ),
    url("/img/info-bar/subeler.jpg") center center no-repeat;
  background-size: cover;
}

.smallInfoBar:nth-child(4) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ),
    url("/img/info-bar/iletisim.jpg") center center no-repeat;
  background-size: cover;
}

/* ######################### */
/* FOOTER */
/* ######################### */

.footer-section {
  background: #2b2b2b;
  padding: 6.4rem 0 6.4rem 0;
}

.footer-middle {
  display: grid;
  grid-template-columns: 1.7fr 2.1fr 1fr;

  margin: 0 auto;

  max-width: 116rem;
}

/* ######################### */
/* Item1 */
/* ######################### */

.item1 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-section > .footer-middle > .item1 > h4 {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 2.3rem;
  border-bottom: 0.1rem solid rgba(204, 204, 204, 0.5);
}

.footer-section > .footer-middle > .item1 > p {
  color: #888888;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.lang-select {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  position: relative;
  display: flex;
}

.short_lng {
  width: 3.4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem 0 0 0.4rem;
  background: #ccc;
  font-weight: 600;
  font-size: 1.4rem;
}

.long_lng {
  height: 100%;
  width: 100%;
  position: relative;
}

.form-control {
  display: block;
  border: 0;
  background: #ddd;
  height: 100%;
  width: 100%;

  border-radius: 0 0.4rem 0.4rem 0;
  padding: 6px 12px;
  font-weight: 550;
  max-width: 11rem;

  /* padding: 6px 12px; */
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;

  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* ######################### */
/* Item2 - KURUMSAL */
/* ######################### */

.item2 {
  display: flex;
  justify-content: start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.kurumsal {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.item2 > .kurumsal {
  width: 50%;
}

.item2 > .urunler {
  width: 50%;
}

.kurumsal > h4 {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 2.3rem;
  border-bottom: 0.1rem solid rgba(204, 204, 204, 0.5);
}

.item2 > p {
  color: #888888;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.links > li {
  list-style: none;
  padding: 5px 0;
}

.links > li > a {
  line-height: unset;
  color: #cccccc;
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s ease;
  display: block;
  padding-bottom: 6px;
  letter-spacing: 0.2pt;
}

/* ######################### */
/* Item2 - ÜRÜNLER */
/* ######################### */

.urunler {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.urunler > h4 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

/* ######################### */
/* Item3 - İLETİŞİM */
/* ######################### */

.item3 > h4 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.item3 > p {
  margin-bottom: 2rem;
  color: #888888;
  font-size: 14px;
  line-height: 26px;
}

.social-media {
  display: flex;
}

.social-media > li {
  transition: 0.3s ease;
  height: 3rem;
  width: 3rem;
  margin-right: 5px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.5;
}

.social-media > li > a {
  transition: 0.3s ease;
  font-size: 16px;
  color: #29363b;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
